* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  border: 20px solid #2a2929;
  border-radius: 15px;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #00ff88;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: #111;
  cursor: pointer;
}

button:hover {
  background: #00cc6a;
}

#resultado {
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
}

#puzzle {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 2px;
}

.piece {
  width: 100px;
  height: 100px;
  background-image: url("../media/careca.webp");
  background-size: 300px 300px;
  border: 1px solid #333;
  cursor: pointer;
  transition: transform 0.2s;
}

.piece:active {
  transform: scale(0.95);
}

.selected {
  outline: 3px solid #008CBA;
}
